.radio-button {
    margin-bottom: 10px;
  }
  
  /* Style for the radio button label */
  .radio-button label {
    display: flex;
    align-items: center;
  }
  
  /* Style for the radio button input */
  .radio-button input[type="radio"] {
    margin-right: 8px; /* Adjust spacing between radio button and label */
    cursor: pointer;
  }