.notfound-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .notfound-container h1 {
    color: #e74c3c;
    font-size: 8rem;
  }
  
  .notfound-container p {
    color: #666;
  }
  