body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-image: url(https://cdn.discordapp.com/attachments/1153701878593486871/1181275650833776661/IMG_9430.jpg?ex=658077ae&is=656e02ae&hm=2adc40de85c41f869106caae278fadd410bfc66a4973b32a3f95000198c72584&); /* Specify the path to your background image */
    background-size:120%; /* Ensure the background image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */  
    background-position: center 637px; /* Move the background image to the bottom center */
    background-color:#f4f4f4;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    max-width: 40%; /* Set the maximum width to 40% of the screen */
    padding: 25px;
    background: #f9f9f9; /* Light grey background */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
    font-size: 24px;
  }
  
  .login-form .field {
    margin: 10px 0;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form .button:hover {
    background-color: #0056b3;
  }
